@media screen and (max-width: 1240px) {
	#portfolio .toolbar {
		margin: 0 30px 30px;
	}

	#portfolio #portfolio_grid {
		margin: 0 30px;
	}
} 

@media screen and (max-width: 1100px) {
	#home .name h1, 
	#home .name p {
		font-size: 35px;
	}

/*	#portfolio #portfolio_grid {
		position: relative;
		-webkit-columns: 4;
		-moz-columns: 4;
		-o-columns: 4;
		columns: 4;
		}*/
	}

	@media screen and (max-width: 1044px) {
		#home .menu {
			margin-right: 4%;
			margin-left: 2%;
		}
	}

	@media screen and (max-width: 1015px) {
		#portfolio .portfolio_item { width: 30%; }
		#portfolio .portfolio_item:nth-of-type(4n) { margin-right: 25px; }
		#portfolio .portfolio_item:nth-of-type(3n) { margin-right: 0; }
	}

	@media screen and (max-width: 992px) {
		body #about {
			padding-top: 50px;
		}

		body #about h2 { margin-bottom: 30px; }
		body #about p { margin-bottom: 20px; }
		#about .about_values { margin-bottom: 50px;}

		#about .about_content {
			margin-top: 50px;
			margin-left: 50px;
		}

		#skills .skills_content {
			padding-top: 50px;
			margin-bottom: 50px;
		}

		body #skills h2 { margin-bottom: 30px; }

		#resume .resume_content {
			padding: 50px 30px;
			text-align: center;
		}
		body #resume h2 { margin-bottom: 30px; }

		body #education {
			padding-top: 50px;
			margin-bottom: 50px;
		}

		body #education h2 { margin-bottom: 30px; }

		body #portfolio { padding: 50px 0;}
		body #portfolio h2 { margin-bottom: 30px; }

		body	#portfolio p { margin: 0 30px 40px; }

		body #contacts {padding-top: 50px; }
		body #contacts h2 { margin-bottom: 30px; }

		#contacts .left_content {
			margin-bottom: 50px;
		}
	}

	@media screen and (max-width: 850px) {
		.about_section {
			-webkit-flex-wrap: wrap;
			-moz-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			-o-flex-wrap: wrap;
			flex-wrap: wrap;
		}
		#about .photo_container {
			width: 100%;
		}

		#about .photo {
			margin: 0 auto;
		}

		#about .about_content {
			width: 100%;
		}

		#portfolio #portfolio_grid {
			position: relative;
			-webkit-columns: 3;
			-moz-columns: 3;
			-o-columns: 3;
			columns: 3;
		}
	}

	@media screen and (max-width: 800px) {
		#home .name {
			top: 35vh;
			left: 30vw;
		}

		#home .name h1, 
		#home .name p {
			font-size: 30px;
		}

		#portfolio .portfolio_item { width: 40%; }
		#portfolio .portfolio_item:nth-of-type(3n) { margin-right: 25px; }
		#portfolio .portfolio_item:nth-of-type(2n) { margin-right: 0; }
	}

	@media screen and (max-width: 600px) {
		#portfolio .portfolio_item { width: 60%; height: 300px; }
		#portfolio .portfolio_item:nth-of-type(3n) { margin-right: 25px; }
		#portfolio .portfolio_item:nth-of-type(2n) { margin-right: 25px; }
	}

	@media screen and (max-width: 550px) {
		#home .name {
			left: 25vw;
		}

		#home .name h1, 
		#home .name p {
			font-size: 25px;
		}

		#about .photo {
			padding: 0 30px;
		}

		#portfolio #portfolio_grid {
			position: relative;
			-webkit-columns: 2;
			-moz-columns: 2;
			-o-columns: 2;
			columns: 2;
		}
	}

	@media screen and (max-width: 500px) {
		#portfolio .portfolio_item { width: 70%;}
	}

	@media screen and (max-width: 450px) {
		#home .name {
			left: 18vw;
		}
	}

	@media screen and (max-width: 420px) {
		#portfolio #portfolio_grid {
			position: relative;
			-webkit-columns: 1;
			-moz-columns: 1;
			-o-columns: 1;
			columns: 1;
		}

		#portfolio .portfolio_item { width: 80%;}
	}

	@media screen and (max-width: 380px) {
		#home .name h1, 
		#home .name p {
			font-size: 23px;
		}

		body #contacts p span {
			padding-right: 15px;
		}
		body #contacts p:last-of-type span {
			padding-right: 32px;
		}
	}

	@media screen and (max-width: 360px) {
		#portfolio .portfolio_item { width: 90%;}
	}

	@media screen and (max-width: 320px) {
		#home .name {
			left: 15vw;
		}
	}